/* ************* */
/* **Variables** */
/* ************* */
:root {
    --body-background-color: #222222;
    --body-text-color: #1d1d1d;
    --sidebar-background-color: #171717;
    --sidebar-text-color: #809096;
    --button-border-color: #08FDD8;
    --highlighted-text-color: #08FDD8;
}

*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    /* margin: 0;
    padding: 0; */
    font-size: 1.6rem;
    line-height: 1.5;
    display: block;
    min-width: 320px;
    font-family: "Open Sans",sans-serif;
    color: rgb(222, 222, 222);
    padding-left: 13rem;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.main{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.nav_menu {
    width: 13rem;
    background-color: var(--sidebar-background-color);
    height: 100vh;
    position: fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu_items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #282828;
}

.menu_items a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: #909096;
    line-height: 5rem;
    border-bottom: 1px solid #282828;
    -webkit-transition: color 0.3s, background-color 0.3s;
    -o-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
}

.menu_items a:hover {
    color: #ff4747;
}

.sidebar_inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.order-panel {
    display: flex;
    flex-flow: column;
}

.order-title{
    text-align: center;
}

.card{
    display: flex;
    flex-flow: column;
    margin: 25px;
}

.card label{
    display: flex;
    user-select: none;
}

label input{
    width: 1rem;
}

.pizza-customization{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.label-type{
    margin: 0 10px;
}

.pizza-type {
    display: flex;
    justify-content: center;
}

.content {
    flex: 1;
    padding: 20px;
}